.form-group {
	width: 300px;
	display: grid;
}

label {
	font-size: 0.75rem;
	color: gray;
}

input {
	padding: 1rem;
	margin-bottom: 0.625rem;
	border-radius: 0.2rem;
	border: 1px solid gray;

	&:invalid[focused='true'] {
		border: 1px solid red;
	}
	&:invalid[focused ='true'] ~ span{
		display: block;
	}
}

span {
	font-size: 0.75rem;
	padding: 0.02rem;
	color: red;
	display: none;
}
