
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: rgb(8, 100, 89);
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.app {
	display: grid;
	place-items: center;
}
